@import "../../../../shared/assets/scss/dark-theme/variables";

.client-portfolio {
  .card-img-wrapper {
    width: 2.5rem;

    .card-img {
      filter: grayscale(1) brightness(1.25);
    }
  }
}

.client-portfolio-stock-details {
  padding-left: 0;
}

.sticky-top {
  box-shadow: $box-shadow-hover;
}

@media only screen and (max-width: 768px) {
  .client-portfolio-stock-details {
    padding-left: 15px;
    order: -1;
  }
}
