<div class="search-container mb-0" (clickOutside)="searchSelected = false" [ngClass]="searchSelected ? 'show' : ''">
  <div class="input-group">
    <input type="text" class="form-control" placeholder="Search for client" (keyup)="onKey($event)" />
    <div class="input-group-append">
      <i class="demo-icon icon-search"></i>
    </div>
  </div>

  <div class="search-results bg-dark border">

    <ng-container *ngFor="let c of displayClients">
      <div class="card card-client border-bottom" (click)="handleClientSelect(c)">
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="card-img-wrapper">
            <img class="card-img img-fluid rounded-circle border" [src]="clientImageSrc(c)" />
          </div>
          <div class="card-body text-left pl-1">
            <p class="card-title text-white font-weight-bold mb-1">
              {{ c.firstName }} {{ c.lastName }}
            </p>
            <p class="card-text text-primary font-weight-bold">
              $ {{ c.portfolioValue }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>