<div class="card card-client border-bottom" (click)="handleClientSelect()">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card-img-wrapper">
      <img class="card-img img-fluid rounded-circle border" [src]="clientImageSrc()" />
    </div>
    <div class="card-body text-left pl-1">
      <p class="card-title text-white font-weight-bold mb-1">
        {{ client.firstName }} {{ client.lastName }}
      </p>
      <p class="card-text text-primary font-weight-bold">
        $ {{ client.portfolioValue }}
      </p>
    </div>
  </div>
</div>
